<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
            <h1 class="mt-4">Admin dashboard</h1>
            <form action="/admin/generate-faker-courses" method="post">
                <h2>Generate courses</h2>
                <input name="amount" type="number" value="10" class="form-control">
                <button type="submit" class="btn btn-primary mt-3">Generate</button>
            </form>
        </main>
    </div>
</div>
