<div id="layoutSidenav">
<div id="layoutSidenav_content">
<div class="container-fluid px-4">
<h2>All applications</h2>
<table class="table table-warning table-striped">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Place of birth</th>
      <th scope="col">Progress</th>
    </tr>
  </thead>
  <tbody>
  {{#each applications}}
    <tr>
      <td>{{firstname}}</td>
      <td>{{dateOfBirth}}</td>
      <td>{{placeOfBirth}}</td>
      <td>{{progression.name}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
</div>
</div>
