<div class="col-lg-4">
    <div class="card mb-4">
        <div class="card-header">Search</div>
            <div class="card-body">
                <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>
<div class="card mb-4">
    <div class="card-header">Courses</div>
        <div class="card-body">
            <div class="row">
            {{#each courses}}
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#!">{{course.name}}</a></li>
                </ul>
            </div>
            {{/each}}
        </div>
    </div>
</div>
</div>
