<div id="layoutSidenav">
<div id="layoutSidenav_content">
<div class="container-fluid px-4">
<h2>All subjects</h2>
<form action="/admin/categories/create" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control">
    <label for="body">Body</label>
    <textarea id="body" class="form-control" cols="30" rows="10">
    </textarea>
    <button type="submit" class="btn btn-primary mt-3">Create</button>
</form>
<table class="table table-warning table-striped">
  <thead>
    <tr>
      <th scope="col">Subject title</th>
      <th scope="col">Body</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {{#each subjects}}
    <tr>
      <td>{{title}}</td>
      <td>{{body}}</td>
      <td><a href="/admin/subjects/edit/{{id}}" class="btn btn-warning">Edit</a></td>
      <td>
        <form method="POST" action="/admin/subjects/{{id}}?_method=DELETE">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
</div>
</div>
