<h2>Apply to course below</h2>
<form action="/apply" method="POST">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   name="name"
                   placeholder="Your name goes here..."
                   id="name">

            <label for="date">Date of birth</label>
            <input type="date"
                   class="form-control"
                   name="date"
                   id="date">

            <label for="place">Place of birth</label>
            <input type="text"
            class="form-control"
            name="place"
            placeholder="Your place of birth goes here..."
            id="place">

            <button type="submit"
                    class="btn btn-primary mt-3">
                Apply
            </button>
</form>
